<% extend('layout/layout',{title:'configuración'}) %>

<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <input
        type="text"
        placeholder="nombre de la empresa"
        value="tecnimovil djesus"
        name=""
        class="mt-3 disabled form-control"
        id="nombreEmpresa"
      />
    </div>
    <div class="col-3">
      <input
        type="email"
        placeholder="correo"
        value="owendjesus64@gmail.com"
        name=""
        class="mt-3 disabled form-control"
        id="correo"
      />
    </div>
    <div class="col-3">
      <input
        type="text"
        placeholder=" telefono"
        value="+58 4147361209"
        name=""
        class="mt-3 disabled form-control"
        id="telefono"
      />
    </div>
    <div id="btnEdit" class="col-3 text-white">
      <button onclick="editEmpresa()" class="btn btn-md red-alert mt-3">
        editar datos de la empresa
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-3 mt-2">
      <div class="card">
        <div class="card-header text-center cuarto text-white">
          categoria de productos
        </div>
        <div class="cont mt-3 mb-3">
          <div class="mr-5">
            <input
              id="categoriaProducto"
              type="text"
              class="ml-3 form-control"
            />
          </div>
          <div
            onclick="addCategoriaProducto()"
            class="boton-tipo text-white c-hand green-success"
          >
            <i class="fas fa-plus"></i>
          </div>
        </div>
        <div class="card-body list-scroll-p">
          <div id="listCategoriasProducto" clas=""></div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/controller/configuracion.js"></script>
