<% extend ('layout/layoutSocial', {title: 'inventario de proveedores'})%>

<style>
    .card.chat-room .members-panel-1,
.card.chat-room .chat-1 {
position: relative;
overflow-y: scroll; }

@media screen and (min-width: 768px) {
  .NotificationIndex{
  /* left: 5px; */
  right: 100px;
  width: 800px;
}
.card.chat-room .chat-1 {
height: 82vh; }
} 
.card.chat-room .members-panel-1 {
height: 76.77%; }

.card.chat-room .chat-1 {
height: 80.6vh; }

.card.chat-room .friend-list li {
border-bottom: 1px solid #e0e0e0; }
.card.chat-room .friend-list li:last-of-type {
border-bottom: none; }

.scrollbar-light-blue::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #F5F5F5;
border-radius: 10px; }

.scrollbar-light-blue::-webkit-scrollbar {
width: 12px;
background-color: #F5F5F5; }

.scrollbar-light-blue::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #82B1FF; }
.bg{
  background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

}
.rare-wind-gradient {
background-image: -webkit-gradient(linear, left bottom, left top, from(#a8edea), to(#fed6e3));
background-image: -webkit-linear-gradient(bottom, #a8edea 0%, #fed6e3 100%);
background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%); }
</style>

<link href='https://fonts.googleapis.com/css?family=Roboto+Mono&subset=cyrillic' rel='stylesheet'> 

<style> 

body{ font-family: 'Roboto', serif
;  } </style> 
<div class="">
  <div class="">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 col-xl-12 ">
        <div id="escribiendo"></div>

        <div class="chat-message">

          <ul class="list-unstyled chat-1 scrollbar-light-blue card" >
            <div class="card-body" id="chat">
              <!-- mensaje  -->
              <!-- <li class="d-flex justify-content-between mb-4 w-75 float-right">
                <div class="chat-body white p-3 ml-2 z-depth-1">
                  <div class="header">
                    <strong class="primary-font">Brad Pitt</strong>
                    <small class="pull-right text-muted"><i class="far fa-clock"></i> 12 mins ago</small>
                  </div>
                  <hr class="w-100">
                  <p class="mb-0">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua.
                  </p>
                </div>
              </li>
              <li class="d-flex justify-content-between mb-4 w-75 ">
                <div class="chat-body white p-3 z-depth-1">
                  <div class="header">
                    <strong class="primary-font">Lara Croft</strong>
                    <small class="pull-right text-muted"><i class="far fa-clock"></i> 13 mins ago</small>
                  </div>
                  <hr class="w-100">
                  <p class="mb-0">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                    laudantium.
                  </p>
                </div>
              </li>
              <li class="d-flex justify-content-between mb-4 w-75 float-right">
                <div class="chat-body white p-3 ml-2 z-depth-1">
                  <div class="header">
                    <strong class="primary-font">Brad Pitt</strong>
                    <small class="pull-right text-muted"><i class="far fa-clock"></i> 12 mins ago</small>
                  </div>
                  <hr class="w-100">
                  <p class="mb-0">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua.
                  </p>
                </div>
              </li>
              <li class="d-flex justify-content-between mb-4 w-75 float-right">
                <div class="chat-body white p-3 ml-2 z-depth-1">
                  <div class="header">
                    <strong class="primary-font">Brad Pitt</strong>
                    <small class="pull-right text-muted"><i class="far fa-clock"></i> 12 mins ago</small>
                  </div>
                  <hr class="w-100">
                  <p class="mb-0">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua.
                  </p>
                </div>
              </li>
              <li class="d-flex justify-content-between mb-4 w-75 ">
                <div class="chat-body white p-3 z-depth-1">
                  <div class="header">
                    <strong class="primary-font">Lara Croft</strong>
                    <small class="pull-right text-muted"><i class="far fa-clock"></i> 13 mins ago</small>
                  </div>
                  <hr class="w-100">
                  <p class="mb-0">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                    laudantium.
                  </p>
                </div>
              </li> -->
              <!-- mensajes -->
            </div>
           
            <div style="position: absolute;">
              <div class="text-center NotificationIndex" id="alerta">
                <div style="display: flex;"> 

                  <textarea id="message" class="form-control w-75 " id="exampleFormControlTextarea2" rows="1" placeholder="Type your message here..."></textarea>
                <div
                onclick="sendChat()"
                class=" c-hand "
              >
                <i class=" h5 fas fa-thumbs-up ml-5"></i>
              </div>
                </div>
              </div></div>
          </ul>
          

        </div>

      </div>
      
     

    </div>
  
    
  </div>
</div>
<input class="d-none" type="text" value="<%= usuario.username %> " id="username" placeholder="ingrese nombre de usuario">
<input class="d-none" type="text" value="<%= usuario._id %>" id="id" placeholder="ingrese nombre de usuario">
  
  <script src="/socket.io/socket.io.js"></script>
  <script src="/controller/chat.js"></script>